higgs_dna/metaconditions/*.json filter=lfs diff=lfs merge=lfs -text
higgs_dna/metaconditions/*/*.json filter=lfs diff=lfs merge=lfs -text
higgs_dna/metaconditions/*/*/*.json filter=lfs diff=lfs merge=lfs -text
